body{
    margin: 0;
    background-color: #393E46;
}
h1{
    text-align: center;
    height: 100px;
    background-color: #222831;
    margin: 0;
    line-height: 100px;
    color: #00ADB5;
}
#site-inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1350px;
    justify-content: space-evenly;
    margin: auto;
}
.project{
    width: 300px;
    margin:10px;
    color: #eee
}
.project__name{
    text-align: center;
}
.project__img{
    width: 300px;
    border: 2px solid #00ADB5;
}
.project__date{
    font-style: italic;
}